html, body {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    resize: none;
}

button#tweet-btn{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.15s ease;
}
button#tweet-btn:hover, button#tweet-btn:focus {
    transform: scale(1.03)
}
button#tweet-btn:active {
    transform: scale(1)
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}
.fa-solid{
    color: #999;
}
.fa-comment-dots, .fa-heart, .fa-retweet {
    cursor: pointer;
    transition: transform 0.1s ease
}
.fa-comment-dots:hover, .fa-heart:hover, .fa-retweet:hover, 
.fa-comment-dots:focus, .fa-heart:focus, .fa-retweet:focus {
    transform: scale(1.15);
}
.fa-comment-dots:active, .fa-heart:active, .fa-retweet:active {
    transform: scale(0.98);
}
/* toggle Class List */
.liked{
    color: #f80000; /* red */
}

.shared{
    color: limegreen; 
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}

/* Reply container */
.reply-input-area {
    display: flex;
    margin:20px 0;
    padding-left: 50px;
    gap: 10px;
}

/* Input field */
.reply-input-area input {
    flex: 1;
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

/* Button */
.reply-input-area button {
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    background-color: #1da1f2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: tranform 0.2s ease;
}

/* Hover effect */
.reply-input-area button:hover, .reply-input-area button:focus {
    background-color: #1991da;
    transform: scale(1.05);
}
.reply-input-area button:active {
    transform: scale(1);
}